@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Merriweather&display=swap');
@import url('burger.css');

.projects-button {
  background: transparent;
  padding: 1em 2em;
  border: 1px solid #8503ff;
  border-radius: 5px;
  box-shadow: 0px 10px 8px rgba(0,0,0,0.3);
  margin-bottom: 30px;
  font-size: 1.25em;
  color: #8503ff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all ease 0.25s;
}

.projects-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 15px 10px rgba(0,0,0,0.3);
  background: #8503ff;
  color: white;
}

.projects-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  overflow: hidden;
}

.project-container::before{
  content: ‘ ’;
 width: 300px;
 height: 400px;
 background: inherit; 
 position: absolute;
 left: -25px;  
 right: 0;
 top: -25px;
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
 filter: blur(10px);
 }

.project-container__image {
  max-width: 300px;
  height: 100%;
  width: 100%;
  display: flex;
}

.project-container__image img {
  width: 100%;
  height: auto;
  margin: auto;
}

.project-content {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-content__title {
  font-family: 'Merriweather', sans-serif;
  margin: 0;
  font-style: italic;
}

.project-content__text {
  color: rgba(0, 0, 0, 0.74);
  text-align: left;
}

.projects-header {
  padding-top: 60px;
}

.projects-header__text {
  font-family: 'Merriweather', sans-serif;
  text-align: left;
}

.home-page {
  padding-top: 60px;
}

.react-parallax > img {
  filter: brightness(1.75) !important;
}

.home-section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.home-section1__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.home-section1__header-text {
  font-family: 'Merriweather', sans-serif;
  margin: 0 6px 0 0;
  text-align: right;
  font-size: 2rem;
}

.home-section1__header-n {
  font-family: 'Merriweather', sans-serif;
  font-size: 5.5rem;
  color: #ff0000;
}

.home-section2 {
  padding-top: 90px;
  width: 100%;
  height: min-content;
}

.home-section2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto;
}

.home-section2__header {
  font-family: 'Merriweather', sans-serif;
  margin: 0;
}

.home-section2__body {
  font-size: 1.125rem;
  max-width: 520px;
}

.home-section3 {
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.home-section3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section3__paper {
  width: 275px;
  height: 350px;
  padding: 25px 30px 40px;
}

.home-section3__skills {
  justify-content: center !important;
  padding-top: 30px;
}

.home-section3__skills-header {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.74);
  font-style: italic;
  margin-top: 0;
}

.MuiGridListTile-tile {
  display: flex !important;
  align-items: center;
}

.skill-logo {
  width: auto;
  height: auto !important;
  max-height: 100px;
  max-width: 100%;
  margin: 5px;
}

.skill-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.special-text {
  color: #ff0000;
  font-style: italic;
}

.layout {
  padding-top: 60px;
}

.cb-window {
  background-color: white;
  width: 475px;
  height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.4);
}

.cb-topbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 35px;
}

.cb-topbar__button {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease
}

.cb-Xbutton:hover {
  background-color: red;
}

.cb-MaxButton:hover {
  background-color: lightgray;
}

.cb-button__minline {
  width: 12px;
  height: 3px;
  margin: auto;
  background-color: black;
}

.cb-button__x {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  transform: scale(1.5,1.0);
}

.cb-button__max {
  width: 12px;
  height: 6px;
  margin: auto;
  border: 2px solid black;
}

.cb-container {
  background-color: #310d4f;
  width: 100%;
  height: 100%;
}

.cb-textcontainer {
  padding: 20px;
}

.cb-line {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.cb-termhead {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 600;
  font-size: 1rem;
  color: #ff765e;
  text-align: left;
  margin: 0;
}

.cb-termarrow {
  color: #70c6ff;
  font-weight: 600;
  margin: 0;
}

.cb-content {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 500;
  font-size: 1rem;
  color: #fbff42;
  text-align: left;
  margin: 6px 0 6px 6px;
}


/* ------------------------------------------------ */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
